
<%= form_with model: listing, local: true do |form| %>

<% if listing.errors.messages.any? %>
    <% listing.errors.full_messages.each do |m| %>
    -<%= m %><br>
    <% end %>
<% end %>

<div class="field">
        <%= form.label :title %><br>
        <%= form.text_field :title, :required => true, :autofocus => true, :placeholder => "Type something here" %>
    </div>
    <div>
        <%= form.label :description %><br>
        <%= form.text_area :description %>
    </div>
    <div>
        <%= form.label :price %>
        <%= form.number_field :price, min: 0 %>
    </div>
    <div>
        <%= form.label :deposit %>
        <%= form.number_field :deposit, min: 0 %>
    </div>
    <div>
        <%= form.label :city %>
        <%= form.text_field :city %>
    </div>
    <div>
        <%= form.label :state %>
        <%= form.text_field :state %>
    </div>
    <div>
        <%= form.label :date_of_birth %>
        <%= form.date_field :date_of_birth %>
    </div>
    <div>
        <%= form.label :diet %>
        <%= form.text_field :diet %>
    </div>

    <div>
        <%= form.label :breed_id %>
        <%= form.select :breed_id, options_for_select(Breed.all.collect { |u| [u.name, u.id] }, :selected => listing.breed_id ) %>
        <%#= form.select :breed_id, options_for_select(Breed.all.collect { |u| [u.name, u.id] }, selected: listing.breed_id ) <-- NEW SKOOL %>
    </div>


        <%#= form.label :sex %>
        <%#= form.select :sex, options_for_select(Listing.sexes.keys, :selected => listing.sex) %>
 

    <div>
        <%= form.label :sex %>
        <% Listing.sexes.keys.each do |sex| %> 
            <%= form.label sex %>
            <%= form.radio_button :sex, sex %>

            <% if sex == listing.sex %>
                <% form.radio_button :sex, :checked => true %>
            <% end %>
        <% end %>
    </div>

    <div>
        <%= form.label :picture %>
        <%= form.file_field :picture, accept: 'image/png,image/gif,image/jpeg,image/jpg' %>
    </div>

    <div>
        <%= form.submit %>
    </div>


<% end %>