<h1>Listings Index</h1>

<% @listings.each do |l| %>
  <%= l.title %>
  <%= l.description %>
  <%= l.breed.name %>
  <%= l.price %>
  <%= l.deposit %>
  <%= l.city %>
  <%= l.state %>
  <%= l.date_of_birth %>
  <%= l.diet %>

<%= link_to("show", listing_path(l.id))%>
<%= link_to("Edit", edit_listing_path(l.id))%>
<%= link_to("Destroy", listing_path(l.id), method: :delete, data: { confirm: 'Are you really sure?'}) %>
  <br>
<% end %>